@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prometo", sans-serif;
}

@font-face {
  font-family: "Prometo";
  src: local("Prometo"), url("/fonts/Prometo_Trial_Lt.ttf") format("truetype");
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
  background-image: url(/assets/fundo\ 2.png);
}

header a {
  text-decoration: none;
  font-weight: 100;
  color: rgb(70, 89, 111);
}

#imagem-logo {
  height: 90px;
  width: 90px;
}

.botoes-login {
  display: flex;
  gap: 20px;
}

.botao-header {
  border-radius: 10px;
  border: none;
  background-color: white;
  font-size: 16px;
  color: rgb(70, 89, 111);
}

#Inicio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(/assets/fundo\ 2.png);
}

#Inicio img {
  height: 500px;
  width: 800px;
}

.container-inicio {
  display: flex;
  flex-direction: column;
}

.container-inicio p {
  text-align: justify;
  font-weight: 100;
  font-style: normal;
  font-size: 16px;
  max-width: 550px;
  font-weight: lighter;
  color: rgb(70, 89, 111);
  padding: 0 120px;
}

.container-inicio h1 {
  color: rgb(255, 181, 98);
  font-weight: 100;
  font-size: 2.6em;
  line-height: 1.2;
  padding: 0 120px;
}
/*main 2*/

#QuemSomos {
  background-image: url(/assets/fundo\ 2.png);
  background-size: cover;
}
.titulo-quemsomos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.container-imagemquemsomos {
  display: flex;
  padding: 0 20px;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.imagem-dashboard img {
  width: 707px;
  border-radius: 10px;
}
.imagem-dashboard p {
  text-align: justify;
  font-weight: 100;
  font-style: normal;
  font-size: 16px;
  max-width: 550px;
  font-weight: lighter;
  color: rgb(70, 89, 111);
  padding: 0 120px;
}
.texto-imagem {
  height: 90%;
}
.texto-imagem h2 {
  font-size: 24px;
  line-height: 1.2;

  font-weight: bolder;
}
#Time {
  background-image: url(/assets/fundo\ 2.png);
  background-size: cover;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-time {
  display: flex;
  justify-content: space-around;
  padding: 24px;
  gap: 30px;
}
.pessoa-time {
  display: flex;
  height: 90px;
  width: 300px;
  background-color: #384857;
  align-items: center;
  gap: 30px;
  padding: 15px 10px;
}
.pessoa-time img {
  border-radius: 50px;
  width: 70px;
  height: 70px;
}
