* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
input {
  border: none;
  background-color: white;
}
body.pddvvenda {
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100vh;
  background-color: rgb(112, 163, 235);
  gap: 0px;
}

header {
  background-color: rgb(118, 169, 140);
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.logosmall img,
.logoloja img {
  height: 40px;
}

main.vendas {
  display: flex;
  justify-content: space-between;
  background-color: rgb(112, 163, 235);
  align-items: normal;
}

.itens-registrados {
  background-color: rgb(112, 163, 235);
  padding: 10px;
  border-radius: 10px;
  width: 50%;
}

.itens-registrados input {
  height: 60px;
  width: 100%;
  border-radius: 10px;
}

.itens-registrados label {
  width: 100%;
  padding-left: 6px;
  font-size: 18px;
}

.produtoinfo {
  display: flex;
}

.produtoimagem {
  width: 60%;
}

.produtoimagem img {
  width: 100%;
  height: 100%;
}

.produtodescricao {
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
}
.container-input {
  background-color: rgb(34, 114, 235);
  border-radius: 10px;
  padding-top: 8px;
}
.container-input-baixo {
  background-color: rgb(34, 114, 235);
  border-radius: 10px;
  padding-top: 8px;
  width: 280px;
}
.campositem {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.areavenda {
  display: flex;
  gap: 30px;
}

.itensregistrados {
  background-color: rgb(112, 163, 235);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
}
.tabela {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(34, 114, 235);
  border-radius: 10px;
}
.tabela label {
  border-radius: 10px;
}

.tabela-caixa {
  border-radius: 10px;
  margin-bottom: 0px;
}

.precositem,
.subtotal {
  margin-top: 10px;
}

.funcoes {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-right: 10px;
  gap: 10px;
}
.funcoescaixa {
  font-size: 14px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
}

.funcoescaixa ul {
  list-style-type: none;
  padding: 0;
}

.funcoescaixa li {
  display: inline-block;
  margin-right: 10px;
}

.subtotal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(34, 114, 235);
  border-radius: 10px;
}
.subtotal input {
  width: 100%;
  height: 90px;
  border-radius: 10px;
  border: none;
}
.container-valor {
  display: flex;
  gap: 10px;
}
.container-valor input {
  height: 60px;
}
